body{
    margin:0px;
    padding:0px;
    overflow-x: hidden !important;
}
@media screen and (max-width: 792px){

    #fom{
        display: none;
    }
}

@media screen and (max-width: 792px){
.as_banner_img{
        display: none;
    }
}
/*.canvas{ 
   overflow: hidden;
   width:100vw;
   height:100vh;
   background-color:black;
}*/

.navbar ul li{
	
	font-size:0.9rem;
	font-weight: 500;
	font-family: 'FedraSansStd-medium',sans-serif;
	padding: 0 7px;
    text-transform: uppercase;
}
.navbar ul li:hover{
    color: #ee8722;
}

@keyframes blink {
  0%, 100% {background-color:#a91106;}
  50% {background-color:#f4a636;}
}

#blink{
  line-height:36px;  
  background-color: #8EDDBE;
  color: white;
  animation: blink 2s linear infinite;
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top:0px; /* remove the gap so it doesn't close */
    background-color:#0f0d1d;
    color: white;
}
 
.dropdown-menu li a{
	color:#ee8722;
    font-size:0.9rem;
    font-weight: 500;
    font-family: 'FedraSansStd-medium',sans-serif;
    padding: 0 7px;
    line-height:35px;
    text-transform: uppercase;
}

.dropdown-menu li a:hover{
	background:#a91106;
	color:white;
	border-radius: 12px;
}

.headerfixed {
    transition: all 0.6s ease-in-out  !important;
  }
  .headerfixed.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    background-color:#0f0d1d;
  }

.slide1{
    background-image: url('https://kamleshyadav.com/html/astrology/version-3/assets/images/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item h1 h5{
    font-family:'FedraSansStd-medium',sans-serif;
}

.carousel .carousel-indicators button{
    border-radius:50%;
    width: 10px;
   height: 10px;
   background: black;
   margin-top: 20px;

 }

 .as_banner_img1{
     animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 }
 @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


 .as_banner_img{
    position: absolute;
    top:33%;
    left:58%;
 }

.box-circle{
	width: 148px;
	height: 140px;
	background:#464038;
	border-radius: 50%;
	margin-left: 112px;
}
.box-circle img{
	width: 80px;
	margin-top: 12px;
	margin-left: 28px;
}

.cardee .card{
	opacity: 0.6;
	width:100%;
	height:100%;
	border:none;
	border-radius: 38px;
}

.cardee .card:hover{
  background:#0f0d1d;
  color: white;
   transform: scale(1.1); 
}


.cardee{
background-image: url('https://kamleshyadav.com/html/astrology/version-3/assets/images/bg2.jpg');
background-size: cover; 
background-repeat: no-repeat;
}



.client {
    background-image: url('https://kamleshyadav.com/html/astrology/version-3/assets/images/bg2.jpg');
background-size: cover; 
background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.carousel-icon i {
  font-size: 5rem;
  color:black;
}

.carousel-item i {
  font-size: 1.6rem;
  color:black;
}

.t-card {
  padding: 1.8125rem 1.125rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
  color: #fff;
  height: auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.5625rem solid transparent;
  border-right: 1.5625rem solid transparent;
  border-top: 1.25rem solid rgba(0, 0, 0, 0.5);
}

.owl{
    background-image: url('https://kamleshyadav.com/html/astrology/version-3/assets/images/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.owl-carousel .item img{
	width: 50%;
	height: 50%;
}
.owls{
    background-color: ;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}





/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 13px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: white; !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.rounded-circle1{
	width:48px;
	height: 48px;
	border-radius: 50%;
	background-color: black;
}

.rounded-circle1 i{
	position: absolute;
	margin-left: 14px;
	margin-top: 10px;
}
.footer li{
    line-height: 30px;
}

.footer  li a{
	text-decoration: none;
	color: white;
	
    margin-top: 15px;
    transition: transform 2s;
}
.footer ul li a:hover{
    color:#ee8722;
    transform: scale(1.1); 
}



.frontside .card{
    background-color:#0f0d1d;
    border-radius: 38px;
    /*animation: zoom-in-zoom-out 1s ease infinite;*/
}

/*@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.8,0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}*/



